---
layout: base.njk
pagination:
  data: countries
  size: 1
  alias: country
permalink: "<%= country.cca3 %>.html"
eleventyComputed:
  title: "<%= country.cca3 %> | <%= country.name.common %>"
---

<section class="flex flex-col align-center">
  <h1 class="font-bold text-4xl text-center p-[10px]">
    <%= country.name.common %>
  </h1>
  <span class="text-center"><%= country.name?.official ?? "Unknown" %></span>
  <span class="text-center">
    <%= Object.values(country.name?.native)[0]?.official ?? "Unknown" %>
  </span>
</section>

<section class="grid grid-cols-4 gap-[10px]">
  <article class="p-[10px] bg-rose-100 rounded-2xl">
    <h2 class="font-bold text-3xl text-center p-[10px]">Flag</h2>
    <div class="flex justify-center">
      <%- flags[country.cca2.toLowerCase()] %>
    </div>
  </article>

  <article class="p-[10px] bg-rose-100 rounded-2xl">
    <h2 class="font-bold text-3xl text-center p-[10px]">Codes</h2>
    <p class="flex justify-between">
      <span class="font-bold">Alpha-2/3 Codes</span>
      <span><%= country.cca2 %>, <%= country.cca3 %></span>
    </p>
    <p class="flex justify-between">
      <span class="font-bold">Numeric Code</span>
      <span><%= country.ccn3 %></span>
    </p>
    <p class="flex justify-between">
      <span class="font-bold">Top Level Domain</span>
      <span><%= country.tld %></span>
    </p>
    <p class="flex justify-between">
      <span class="font-bold">International Code</span>
      <span><%= country.idd.root + country.idd.suffixes[0] %></span>
    </p>
    <% const entries = Object.entries(country.currencies) %> <% if
    (entries.length > 0) { %>
    <p class="flex justify-between">
      <span class="font-bold">Currency</span>
      <span><%= entries[0][0] %> [<%= entries[0][1].name %>]</span>
    </p>
    <% } %>
  </article>

  <article class="p-[10px] bg-rose-100 rounded-2xl">
    <h2 class="font-bold text-3xl text-center p-[10px]">Geography</h2>
    <p class="flex justify-between">
      <span class="font-bold">Region</span> <span><%= country.region %></span>
    </p>
    <p class="flex justify-between">
      <span class="font-bold">Subregion</span>
      <span><%= country.subregion %></span>
    </p>
    <p class="flex justify-between">
      <span class="font-bold">Capital</span>
      <span><%= country.capital %></span>
    </p>
    <p class="flex justify-between">
      <span class="font-bold">Area</span> <span><%= country.area %> km²</span>
    </p>
    <p class="flex justify-between">
      <span class="font-bold">Demonym</span>
      <span><%= country.demonyms.eng.m %></span>
    </p>
    <p class="flex justify-between">
      <span class="font-bold">Borders</span>
      <span>
        <% country.borders.forEach((b) => { %>
        <a href="<%= b %>" class="text-emerald-700"><%= b %></a>
        <% }) %>
      </span>
    </p>
    <p class="flex justify-between">
      <span class="font-bold">Map</span>
      <span>
        <a
          href="http://www.openstreetmap.org/#map=5/<%= country.latlng[0] %>/<%= country.latlng[1] %>"
          class="text-emerald-700"
        >
          OpenStreetMap
        </a>
      </span>
    </p>
  </article>

  <article class="p-[10px] bg-rose-100 rounded-2xl">
    <h2 class="font-bold text-3xl text-center p-[10px]">Languages</h2>
    <% Object.entries(country.languages).forEach(([k, v]) => { %>
    <p class="text-center"><%= k.toUpperCase() %> [<%= v %>]</p>
    <% }) %>
  </article>
</section>
